binance-sdk-spot
binance
cryptography
binance.spot
binance-connector
python-binance
pandas
datetime
pyodbc
fastapi 
uvicorn 
streamlit
streamlit_autorefresh 
dotenv
plotly 
tensorflow
keras
scikit-learn